# dependencies
/node_modules
/legacy/node_modules

# build output
/site
/legacy/dist
/legacy/.angular

# logs
npm-debug.log
yarn-error.log
debug.log

# system
.DS_Store
Thumbs.db

# editors
/.idea
.history/*
