:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 24px;

    .split-view {
        display: flex;
        flex-direction: row;
        flex-grow: 1;

        .editor-wrap {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            gap: 10px;

            .sub-wrap {
                border: 1px solid var(--border-color);
                position: relative;
                flex-grow: 1;
            }
        }
    }



    .error {
        color: red;
        max-height: 50px;
        text-overflow: ellipsis;
    }



    ngx-monaco-editor {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        height: 100%;
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &.grow {
        flex-grow: 1;
    }

    &.gap-24 {
        gap: 24px;
    }
}