:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 24px;




    label {
        font-weight: bold;
    }

    .time {
        font-size: 26px;
        color: var(--secondary);
    }

    .error {
        color: red;
        max-height: 50px;
        text-overflow: ellipsis;
    }

    .f-center {
        justify-content: center;
        // align-items: center;
    }

    timepicker {
        width: 200px;
    }


}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &.grow {
        flex-grow: 1;
    }

    &.gap-24 {
        gap: 24px;
    }
}