.form-control {
  font-size: 16px;
  font-weight: 400;
  border-radius: 0.25rem;

  &.compact {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.tool-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}
.options{
      background-color: hsla(198, 89%, 65%, 0.071);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 5px;
    padding: 10px 15px;
    .option{
    >label{
      color: var(--orange);
      font-size: small;
    }
  }
}
input.ng-invalid.ng-touched {
  border-color: var(--bs-danger-border-subtle);
}

.invalid-feedback {
  display: block;
  margin: 5px;
  white-space: normal;
  color: var(--bs-danger);
  width: auto;
  border: 1px solid var(--bs-danger-border-subtle);
  padding: 1px 5px;
  border-radius: 5px;
}

.tooltip {
  &.fade {
    transition: none;
  }

  // .tooltip-inner {
  //   background-color: var(--dark-color);
  // }

  // .arrow::before {
  //   border-top-color: var(--dark-color);
  // }
}

@keyframes delayedFadeIn {
  0% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  /* Set this to 99% for no fade-in. */
  100% {
    opacity: 1;
  }
}

.required-star {
  color: var(--bs-danger-border-subtle);
}

.control-row,
.control-row-h {
  display: flex;
  flex-direction: row;

  margin-top: 15px;

  .control-value {
    font-size: 15px;
    color: #202124;
    margin-left: auto;

    &.left {
      margin-left: 0;
      margin-right: auto;
    }

    &.center {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &.stretch {
      display: flex;
      justify-content: stretch;
    }
  }

  .control-value-h {
    display: flex;
    flex-direction: row;
    align-items: center;

    ng-select {
      flex-grow: 1;
    }

    .btn {
      margin-left: 10px;
    }
  }
}

.control-row-h {
  flex-direction: column;
}

.form-title {

  font-style: normal;
  font-weight: 600;
  border-bottom: 2px solid var(--bs-border-color);
  padding-bottom: 8px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-indent: 10px;
}

.form-label,
label {
  font-weight: 600;
}

.required-star::after {
  color: var(--bs-danger-border-subtle);
  opacity: 0.8;
  content: " *";
}

.control-title {
  color: var(--bs-heading-color);
  font-weight: 600;
  font-style: normal;

}

.divider {
  border-top: 1px solid var(--bs-border-color);

  &.m15 {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  &.m25 {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  &.m5 {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}


textarea.form-control {
  background: var(--control-background);
}

val-errors {
  color: var(--bs-danger-border-subtle);
}

.switch-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &.right {
    justify-content: flex-end;
  }

  &.left {
    justify-content: flex-start;
  }

  label {
    font-weight: 600;
    margin-right: 12px;
    line-height: 22px;
    white-space: normal;
    margin-bottom: 0;
  }
}

.row-group {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  gap: 10px;

  &.grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  >.control-row {
    flex: 1;
  }

  >.control-column {
    flex-grow: 1;
  }

  &.col {
    flex-direction: column;
  }
}


.input-group {
  input {
    width: 1%;
  }

  .btn {
    min-height: var(--input-min-height);
    padding: 0px 10px;

    &.compact {
      min-height: var(--input-compact-height);
    }
  }

  .btn-outline-secondary:not(:disabled):not(.disabled).active:not([type="checkbox"]) {
    background: var(--primary);
    color: #fff;
    border-color: var(--primary);
  }
}

.error-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  white-space: normal;
  padding: 20px;

  p {
    margin: 0;
  }
}

.form-control:disabled,
.form-control[readonly] {
  background-color: var(--readonly-back-color);
  opacity: 1;
  border: 1px solid var(--bs-border-color);

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:hover {
    outline: none;
    box-shadow: none;
    border: 1px solid var(--bs-border-color);
  }
}

.mark-up-box {
  display: block;
  border: 1px solid var(--bs-border-color);
  border-radius: 5px;

  color: var(--font-color);
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: normal;

  &::-webkit-scrollbar-thumb {
    background-color: var(--bs-border-color);
    border: 4px solid transparent;
    border-radius: 18px;
    background-clip: padding-box;
  }

  &::-webkit-scrollbar {
    width: 16px;
    background-color: transparent;
  }
}

.control-value {
  position: relative;
  z-index: 3;
  margin-bottom: 10px;

  &:has(.ng-select) {
    position: static;
  }

  .invalid-feedback {
    position: absolute;
    background-color: white;
    margin: 0;
    left: 5px;
    right: 5px;
    top: calc(100% - 10px);

    &.bottom {
      top: calc(100% + 2px);
    }

    &.auto-width {
      right: unset;
      width: auto;
    }
  }
}



.hideme,
.hide-me {
  visibility: hidden;
}

.form-title-message {
  margin-top: 22px;
  text-align: center;

  p {
    white-space: normal;
    margin-bottom: unset;
  }
}
.purple-label {
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0.8;
  color: var(--purple);
}