// Color system
$color-contrast-dark: #000;
$color-contrast-light: #fff;

// scss-docs-start gray-color-variables
$white: #fff;
$gray-100: #eaeaeb;
$gray-200: #d4d4d7;
$gray-300: #bfbfc3;
$gray-400: #a9aaaf;
$gray-500: #696a72;
$gray-600: #53555e;
$gray-700: #3e3f4a;
$gray-800: #282a36; // syntax highlight background
$gray-900: #20222b;
$black: #000;
// scss-docs-end gray-color-variables

// scss-docs-start color-variables
$blue: #007e90;
$indigo: #7e8ec2;
$purple: #855fbf;
$pink: #c13f8e;
$red: #d82f39;
$orange: #7d4800;
$yellow: #4c5b00;
$green: #006400;
$teal: #005f60;
$cyan: #005f60;
// scss-docs-end color-variables

// scss-docs-start theme-color-variables
$primary: $purple;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-200;
$dark: $gray-900;
// scss-docs-end theme-color-variables

// scss-docs-start color-variables-dark
$blue-dark: #8be9fd;
$indigo-dark: #6272a4;
$purple-dark: #bd93f9;
$pink-dark: #ff79c6;
$red-dark: #f55;
$orange-dark: #ffb86c;
$yellow-dark: #f1fa8c;
$green-dark: #50fa7b;
$teal-dark: #a4ffff;
$cyan-dark: #a4ffff;
// scss-docs-end color-variables-dark

// scss-docs-start theme-color-dark-variables
$primary-dark: $purple-dark;
$secondary-dark: $gray-500;
$success-dark: $green-dark;
$info-dark: $cyan-dark;
$warning-dark: $yellow-dark;
$danger-dark: $red-dark;
// scss-docs-end theme-color-dark-variables

// Shiki
// Only applied if using a defined Shiki theme
$darkBack: #191A21;
$ng-select-input-text: #f8f8f2;
$ng-select-highlight: #bd93f9;
$ng-select-primary-text: #f8f8f2;
$ng-select-disabled-text: #f9f9f9;
$ng-select-border: #191A21;
$ng-select-bg: #424450;
$ng-select-selected: #343746;

@function darken($color, $percentage) {
    @return mix(#000, $color, $percentage);
}

@function lighten($color, $percentage) {
    @return mix(white, $color, $percentage);
}

@function hexToRGBString($hexColor) {
    @return "#{red($hexColor)},#{green($hexColor)},#{blue($hexColor)}";
}
$darkBack: #191A21;
$purple : #b07df7;
$blue: #6cd9f1;
$yellow: #e4b676;
:root {
    --font-color:rgba(255, 255, 255, 0.8);
        --border-color: rgba(255, 255, 255, 0.1);
        --background: #282a36;
        --background-dark: #{darken(#282a36, 2%)};
        --background-dark2: #{darken(#282a36, 1%)};
        --headers:white;
        --primary: #{$blue};
        --primary-rgb: #{hexToRGBString($blue)};
        --secondary: #{$yellow};
        --secondary-rgb: #{hexToRGBString($yellow)};
        --blue:#{$blue};
        --bs-link-color:#{$blue};
        --bs-link-hover-color: #{$purple};
        --bs-btn-color:#{$yellow};
        --bs-body-color: #{$yellow};
        --bs-body-bg:#{darken(#282a36, 1%)};
        --bs-btn-font-weight: 400;
        --bs-btn-color: var(--bs-link-color);
        --bs-btn-bg: transparent;
        --bs-btn-border-color: transparent;
        --bs-btn-hover-color: var(--bs-link-hover-color);
        --bs-btn-hover-border-color: transparent;
        --bs-btn-active-color: var(--bs-link-hover-color);
        --bs-btn-active-border-color: transparent;
        --bs-btn-disabled-color: #6c757d;
        --bs-btn-disabled-border-color: transparent;
        --bs-btn-box-shadow: 0 0 0 #000;
        --bs-btn-focus-shadow-rgb: 49,
        132,
        253;
        --header-bg:hsla(0, 0%, 100%, 0.05);
        --border-color:rgba(0, 0, 0, 0.125);
        --current-line: #44475a;
        --foreground: #f8f8f2;
        --comment: #6272a4;
        --cyan: #8be9fd;
        --green: #50fa7b;
        --darkGreen: #{darken(#50fa7b, 30%)};
        --darkGreen-rgb: rgb(var(--darkGreen));
        --orange: #ffb86c;
        --pink: #ff79c6;
        --purple: #bd93f9;
        --purple-rgb: #{hexToRGBString($purple-dark)};
        --red: #ff5555;
        --red-rgb: #{hexToRGBString(#ff5555)};
        --yellow: #f1fa8c;
        --bGLighter: #424450;
        --bGLight: #343746;
        --bGDark: #21222C;
        --bGDarker: #191A21;
        --bGDarker-rgb: #{hexToRGBString($darkBack)};
        --scrollbar-thumb: red;
        --scrollbar-track: rgb(var(--bGDark));
        --controlBG: #191A21;
        --darkOrange: #{darken(#8be9fd, 40%)};
        --gray:#{$gray-400};
        --darkBlue: #{darken(#8be9fd, 25%)};
        --header-bg: hsla(0, 0%, 100%, 0.05);
        --border-color: rgba(0, 0, 0, 0.125);
}


$ng-select-dropdown-optgroup-marked: $ng-select-input-text;

$ng-select-marked-text: $ng-select-primary-text;
$ng-select-dropdown-optgroup-text: $ng-select-primary-text;
$ng-select-dropdown-option-text: $ng-select-primary-text;
$ng-select-dropdown-optgroup-marked: $ng-select-input-text;
