 :host {
     padding: 24px;
     display: flex;
     flex-direction: column;
     gap: 24px;
     background-color: var(--background);
     align-items: flex-end;
 }

 .logo {
     font-family: 'Pacifico', cursive;
     font-size: 24px;
     text-shadow: 0px 2px 5px rgba(0, 0, 0, 1);
     color: var(--primary);
 }

 .cats {

     display: flex;
     flex-direction: column;
     align-items: flex-end;
     gap: 10px;

     .cat-items {
         display: flex;
         flex-direction: column;
         align-items: flex-end;
         gap: 5px;

         a {
             color: var(--secondary);

             text-decoration: none;

             &:hover {
                 &:after {
                     color: var(--primary);
                 }
             }
         }

         a:hover {
             color: var(--primary);
         }

         a:after {
             color: var(--font-color);
         }

         a.router-link-active {
             opacity: 1;
             font-weight: 600;
         }

         a:link {
             text-decoration: none;
         }
     }
 }

 a.router-link-active {
     opacity: 1;
     font-weight: 600;
 }