<app-animated-background></app-animated-background>
<div class="left-gutter"></div>
<div class="middle-section">
  <app-side-bar></app-side-bar>
  <div class="back">
    <div class="route-container">
      @if (RouterService.Title()) {
        <h1 class="seo-title">{{ RouterService.Title() }}</h1>
      }
      <a href="https://github.com/timothydodd/utilplex" class="github-float">
        <img alt="GitHub" src="assets/github-mark.svg" />
      </a>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div class="right-gutter"></div>
