<app-animated-background></app-animated-background>
<div class="left-gutter" [ngClass]="{'collapsed': sidebarCollapsed()}"></div>
<div class="middle-section">
  <app-side-bar (sidebarToggle)="onSidebarToggle($event)"></app-side-bar>
  <div class="back">
    <div class="route-container">

      <a href="https://github.com/timothydodd/utilplex" class="github-float">
        <img alt="GitHub" src="assets/github-mark.svg" />
      </a>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
