/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "./../node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "./../node_modules/ngx-bootstrap/datepicker/bs-datepicker.scss";

@import "@ng-select/ng-select/themes/default.theme.css";

@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@function hexToRGBString($hexColor) {
    @return "#{red($hexColor)},#{green($hexColor)},#{blue($hexColor)}";
}

$purple : #b07df7;
$blue: #6cd9f1;
$yellow: #e4b676;

:root {
    --border-color: rgba(255, 255, 255, 0.1);
    --background: #282a36;
    --background-dark: #{darken(#282a36, 2%)};
    --background-dark2: #{darken(#282a36, 1%)};
    --headers: white;
    --primary: #{$blue};
    --primary-rgb: #{hexToRGBString($blue)};
    --secondary: #{$yellow};
    --secondary-rgb: #{hexToRGBString($yellow)};
    --blue:#{$blue};
    --bs-link-color:#{$blue};
    --bs-link-hover-color: #{$purple};
    --bs-btn-color:#{$yellow};
    --bs-body-color: #{$yellow};
    --bs-body-bg:#{darken(#282a36, 1%)};
    --bs-btn-font-weight: 400;
    --bs-btn-color: var(--bs-link-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: var(--bs-link-hover-color);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-active-color: var(--bs-link-hover-color);
    --bs-btn-active-border-color: transparent;
    --bs-btn-disabled-color: #6c757d;
    --bs-btn-disabled-border-color: transparent;
    --bs-btn-box-shadow: 0 0 0 #000;
    --bs-btn-focus-shadow-rgb: 49,
        132,
        253;
}

@import 'styles/buttons';

body {
    background-color: var(--background-dark2);
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, 0.8);
    scroll-behavior: smooth;
    height: 100%;
    overscroll-behavior-y: none;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--headers);
    font-weight: bold;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

h2 {
    color: rgba($purple, 0.75);
}

.form-control:focus {
    border-color: $purple;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba($purple, 0.25);
}